<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversation</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<body>
    <div class="wrapper">

        <div id="bigSidebar"
        class="flex flex-col  w-64 min-w-64 h-full overflow-hidden text-black-400 bg-white-900 box ">

        <div class="sidebar-logo bg-red">
            <img class="logo-image mt-3" src="/img/brand/vb.svg" alt="logo" />
            <h1 class="logo-text">Vixbot</h1>

        </div>

        <a class="flex items-center w-full h-12 px-3 mt-2 mt-20 hover:bg-gray-700 hover:text-gray-300"
            href="/templates">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                <polyline points="2 17 12 22 22 17"></polyline>
                <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            <span class="ml-2 text-sm font-medium">Templates</span>
        </a>


        <!-- Products link -->
        <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300" href="/products">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                <path
                    d="M21 13V21C21 21.5304 20.7893 22.0391 20.4142 22.4142C20.0391 22.7893 19.5304 23 19 23H5C4.46957 23 3.96086 22.7893 3.58579 22.4142C3.21071 22.0391 3 21.5304 3 21V13">
                </path>
                <polyline points="3 12 12 7 21 12"></polyline>
                <path d="M12 22V7"></path>
                <path d="M2 6L22 6"></path>
            </svg>
            <span class="ml-2 text-sm font-medium">Products</span>
        </a>
        <!-- Templates link -->

        <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300 "
            href="/conversations">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lightbulb">
                <path
                    d="M13 17H11M6.38 18A7.95 7.95 0 0 0 12 20C15.866 20 19 16.866 19 13A7.95 7.95 0 0 0 19.74 11H4.67A7.95 7.95 0 0 0 5 13C5 15.7614 7.23858 18 10 18Z">
                </path>
                <line x1="12" y1="2" x2="12" y2="6"></line>
                <line x1="18" y1="12" x2="22" y2="12"></line>
                <line x1="6" y1="12" x2="2" y2="12"></line>
            </svg>
            <span class="ml-2 text-sm font-medium">Vix Chat</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2  hover:bg-gray-700 hover:text-gray-300"
            href="/conversations">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-width="2">
                <path
                    d="M17 21v-2c0-1.1-.4-2.1-1.2-2.9-.7-.8-1.7-1.2-2.8-1.2h-2c-1.1 0-2.1.4-2.9 1.2-.8.7-1.2 1.7-1.2 2.8v2">
                </path>
                <circle cx="9" cy="7" r="4"></circle>
                <path
                    d="M23 21v-2c0-1.1-.4-2.1-1.2-2.9-.7-.8-1.7-1.2-2.8-1.2-1.1 0-2.1.4-2.9 1.2-.8.7-1.2 1.7-1.2 2.8v2">
                </path>
                <circle cx="19" cy="7" r="4"></circle>
            </svg>
            <span class="ml-2 text-sm font-medium">Collaborate</span>
            <span class="ml-1 px-1 py-1 text-sm font-medium text-white bg-blue-600 ml-10 rounded">NEW</span>
        </a>

    </div>


        <div class="main-content">

            <div class=" icons-wrapper">
                <div class="icon-menu-container">

                    <div class="icon-menu">
                        <button type="button" class="expandable-btn">
                            <span class="material-icons">campaign</span>
                            Marketing
                        </button>
                        <div class="icon-menu-content">
                            <button type="button" class="circle-icon" data-bg="green"><i
                                    class="material-icons">show_chart</i>
                                Sales</button>
                            <button type="button" class="circle-icon" data-bg="blue"><i
                                    class="material-icons">monetization_on</i>
                                Finance</button>
                            <button type="button" class="circle-icon" data-bg="green"><i
                                    class="material-icons">people</i>
                                HR</button>
                            <button type="button" class="circle-icon" data-bg="blue"><i class="material-icons">gavel</i>
                                Legal</button>
                            <button type="button" class="circle-icon" data-bg="green"><i
                                    class="material-icons">desktop_windows</i>
                                IT</button>
                            <button type="button" class="circle-icon" data-bg="blue"><i class="material-icons">build</i>
                                Product
                                Dev</button>
                            <button type="button" class="circle-icon" data-bg="green"><i
                                    class="material-icons">pie_chart</i>
                                Analytics</button>
                            <button type="button" class="circle-icon" data-bg="lightblue"><i
                                    class="material-icons">headset_mic</i> Customer
                                Service</button>
                            <button type="button" class="circle-icon" data-bg="green"><i
                                    class="material-icons">create</i>
                                Content
                                Creation</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="card-footer-container">
                <div class="card shadow">

                    <div class="card-body">

                        <div class="responses-container" id="responses-container">
                            <!-- Response cards go here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer-container ">

                <div class="card-footer-vb bg-green-800 ">
                    <div class="form-container">
                        <form id="conversation-form" autocomplete="off" class="conversation-form">
                            <div class="gpt-input-group">
                                <input id="input-text-box" type="text" name="text"
                                    placeholder="Find your next golden idea...">
                                <button type="submit" class="generate-btn"> </button>
                            </div>
                        </form>
                    </div>


                    <!-- Template Modal -->
                    <div id="templateModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="templateMenu">
                                <% templates.forEach((template)=> { %>
                                    <button class="template-item" data-template='<%- JSON.stringify(template) %>'>
                                        <%= template.template_name %>
                                    </button>
                                    <% }); %>
                            </div>
                        </div>
                    </div>



                    <!-- Product modal -->
                    <div id="productModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="productMenu">
                                <% products.forEach((product)=> { %>
                                    <button class="product-item" data-product='<%- JSON.stringify(product) %>'>
                                        <%= product.product_name %>
                                    </button>
                                    <% }); %>
                            </div>
                        </div>
                    </div>


                    <div class="button-container">
                        <div class="action-buttons">


                            <button id="chooseProductButton">Choose Product</button>
                            <button id="chooseTemplateButton">Choose Template</button>

                        </div>
                        <div id="productAndTemplate" class="hidden">
                            <!-- Your existing "Choose Product" and "Choose Template" buttons here -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            function toggleMenu(button) {
                let menuContent = button.siblings('.icon-menu-content');
                let marketingButton = button.detach();

                if (menuContent.hasClass('show')) {
                    menuContent.removeClass('show');
                    $('.icon-menu').prepend(marketingButton);
                } else {
                    menuContent.addClass('show');
                    menuContent.append(marketingButton);
                }
            }

            $('.icon-menu').on('click', '.expandable-btn', function () {
                toggleMenu($(this));
            });

            $('.icon-menu-content button').on('click', function () {
                let selectedButton = $(this).detach().addClass('expandable-btn');
                let menuContent = $(this).parent('.icon-menu-content');
                let firstButton = menuContent.siblings('.expandable-btn').removeClass('expandable-btn');

                $('.icon-menu').prepend(selectedButton);
                menuContent.append(firstButton);
                menuContent.removeClass('show');

                // Change the background color
                let bgColor = $(this).data('bg');
                $('.icon-menu-container').css('background-color', bgColor);
            });
        });


    </script>

    <script>
        //Product Selection and Modal Handlres

        document.addEventListener("DOMContentLoaded", () => {
            // Get the modal and button elements
            const productModal = document.getElementById("productModal");
            const chooseProductButton = document.getElementById("chooseProductButton");

            // Add this event listener for the "Choose Product" button
            chooseProductButton.addEventListener("click", () => {
                productModal.style.display = "block";
            });

            // Close the product modal when the user clicks on the close button
            const closeModalButton = document.querySelector(".close");
            closeModalButton.addEventListener("click", () => {
                productModal.style.display = "none";
            });

            // Close the product modal when the user clicks outside the modal
            window.onclick = (event) => {
                if (event.target == productModal) {
                    productModal.style.display = "none";
                }
            };

            // Add event listener for product items
            const productItems = document.querySelectorAll(".product-item");
            productItems.forEach(item => {
                item.addEventListener("click", event => {
                    const product = JSON.parse(event.target.dataset.product);
                    localStorage.setItem("selectedProduct", JSON.stringify(product));
                    productModal.style.display = "none";
                });
            });
        });

        // Template Selection and  Modal Handlers 

        document.addEventListener("DOMContentLoaded", () => {
            // Get the modal and button elements
            const templateModal = document.getElementById("templateModal");
            const chooseTemplateButton = document.getElementById("chooseTemplateButton");

            // Add this event listener for the "Choose Template" button
            chooseTemplateButton.addEventListener("click", () => {
                templateModal.style.display = "block";
            });

            // Close the template modal when the user clicks on the close button
            const closeModalButton = document.querySelector(".close");
            closeModalButton.addEventListener("click", () => {
                templateModal.style.display = "none";
            });

            // Close the template modal when the user clicks outside the modal
            window.onclick = (event) => {
                if (event.target == templateModal) {
                    templateModal.style.display = "none";
                }
            };

            // Add event listener for template items
            const templateItems = document.querySelectorAll(".template-item");
            templateItems.forEach(item => {
                item.addEventListener("click", event => {
                    const template = JSON.parse(event.target.dataset.template);
                    localStorage.setItem("selectedTemplate", JSON.stringify(template));
                    templateModal.style.display = "none";
                });
            });
        });



        //Send form body to server: 

        let conversationHistory = [
            { role: "system", content: "You are a helpful assistant." }
        ];


        document.getElementById('conversation-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const inputTextBox = document.getElementById('input-text-box');
            const userMessage = inputTextBox.value;
            inputTextBox.value = '';

            addMessageToUI('user', userMessage);
            conversationHistory.push({ role: "user", content: userMessage });

            // Saving selected elemenets to local storage
            const selectedProduct = JSON.parse(localStorage.getItem("selectedProduct"));
            const selectedTemplate = JSON.parse(localStorage.getItem("selectedTemplate"));




            if (selectedProduct && selectedTemplate) {
                const data = { messages: conversationHistory, product: selectedProduct, template: selectedTemplate };

                const response = await fetch('/conversations', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    const responseData = await response.json();
                    const botMessage = responseData.response;
                    conversationHistory.push({ role: "assistant", content: botMessage });
                    addMessageToUI('bot', botMessage);
                } else {
                    console.error('Error while sending request:', response.status, response.statusText);
                }
            } else {
                alert("Please choose a product and a template before sending a message.");
            }
        });


        function addMessageToUI(role, message) {
            const messageContainer = document.createElement('div');
            messageContainer.className = `message-container ${role}`;

            const messageHeader = document.createElement('div');
            messageHeader.className = 'message-header';
            messageContainer.appendChild(messageHeader);

            const profileIcon = document.createElement('div');
            profileIcon.className = `profile-icon ${role}`;
            messageContainer.appendChild(profileIcon);

            messageHeader.appendChild(profileIcon);

            //Format response text
            const messageContent = document.createElement('div');
            messageContent.className = 'message-content';
            const formattedMessage = message.split('\n').filter(line => line.trim() !== '').map(line => {
                if (line.startsWith('- ') || line.startsWith('* ')) {
                    const listItem = document.createElement('li');
                    listItem.textContent = line.slice(2).trim();
                    return listItem.outerHTML;
                } else {
                    const paragraph = document.createElement('p');
                    paragraph.textContent = line.trim();
                    return paragraph.outerHTML;
                }
            }).join('');

            messageContent.innerHTML = formattedMessage;
            messageContainer.appendChild(messageContent);


            document.getElementById('responses-container').appendChild(messageContainer);
        }

        document.addEventListener('click', (e) => {
            if (!e.target.matches('.options-btn') && !e.target.matches('.options-dropdown') && !e.target.closest('.options-dropdown')) {
                const dropdowns = document.getElementsByClassName('options-dropdown');
                for (let i = 0; i < dropdowns.length; i++) {
                    dropdowns[i].style.display = 'none';
                }
            }
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('startChatButton').addEventListener('click', function () {
                // Hide the conversation UI
                document.getElementById('conversationUI').style.display = 'none';
                console.log("Button clicked!");  // Add this line

                // Show the "Choose Product" and "Choose Template" buttons
                document.getElementById('productAndTemplate').classList.remove('hidden'); // remove 'hidden' from the parent div
                document.getElementById('chooseProductButton').classList.remove('hidden');
                document.getElementById('chooseTemplateButton').classList.remove('hidden');
            });
        });
    </script>

</body>

</html>