#main-wrapper {
    display: flex;
}

#mainContent {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

#bigSidebar {
    height: 100vh;
    border-right: 1px solid lightgrey;
}

#page-title {
    padding: 10px;
    font-size: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.templates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.template-card img {
    width: 50px;
    height: 50px;
}

.template-card h2,
.template-card p {
    margin: 0;
}

.template-category {
    display: flex;
    overflow-x: auto;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.template-card {
    flex: 0 0 auto;
    width: calc((100% - 60px) / 4);
    height: 200px;
    min-width: 200px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightgrey;
    transition: 0.3s;
    background-color: white;
}


.template-card:hover {
    background-color: #d3ace7;
    border: 2px solid #a365c2;
    border-bottom: 5px solid #a365c2;

}


.header-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #ccc;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-tag {
    background-color: #e3d6f7;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
}

.logo-image {
    height: 50px;
    /* Adjust as necessary */
    width: auto;
    /* Keeps the aspect ratio of the image */
}


.sidebar-logo {
    display: flex;
    justify-content: flex-start;
    /* Align children to the left */
    align-items: baseline;
    /* Align children to the same baseline */
    padding: 10px;
}

.logo-text {
    font-size: 24px;
    /* Adjust as necessary */
    font-family: Arial, sans-serif;
    /* Choose a modern font */
    background: linear-gradient(45deg, purple, turquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    /* Add some space between the logo and the text */
}
.static-templates {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}

.template-card {
    width: 25%; /* This sets each card to take up 1/4 of the total width. Adjust as necessary. */
    padding: 10px; /* This adds some space around each card. Adjust as necessary. */
}

#template-list {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* This specifies that the sidebar should "stick" 0px from the top of the viewport. */
}

.progress {
    height: 10px;
    border-radius: 50px;
    overflow: hidden;
    background: lightgrey;
  }
  .progress-bar {
    height: 100%;
    background: linear-gradient(270deg, turquoise, purple, turquoise);
    background-size: 200% 200%;
    animation: gradient 6s ease-in-out infinite;
    border-radius: 50px;
  }

  @keyframes gradient {
    0% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
